:root {
    --color-body: #1e90ff;
    --color-main: #ffffff;
    --color-link: #ffffff;
    --color-footer: #ffffff;
      }
  
@media (min-width: 768px) {
body {
    background-color: #1485b2;
}
.main-header {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    padding: 15px;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-start;
    .main-nav {
        margin-left: 200px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-family: 'Dosis', cursive;
        font-size: 20px;
        text-transform: none;
        .main-nav-list {
            display: flex;
            align-items: baseline;
            width: 100%;
            justify-content: space-evenly;
            li ul li {
                display: none;
                float:left;
                position: relative;
                a {
                    display: block;
                }
            }
        }
    }
}
#hero {
    height: calc(100vh - 75px);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
}