@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

body {
  line-height: 1; }

ol,
ul, li {
  list-style: none;
  list-style-type: none;
  padding: 0px; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#header-logo {
  height: var(--logo-height);
  display: block;
  padding-bottom: 15px; }

.chevron-down {
  padding-left: 10px;
  display: inline; }

:root {
  --color-body: #1485b2;
  --color-font-menu: black;
  --logo-height: 70px;
  --color-main: #ffffff;
  --color-link: #ffffff;
  --color-footer: #ffffff; }

@media (min-width: 768px) {
  body {
    background-color: gray; }
  .main-header {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    padding: 0px 25px 0px 25px;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-end; }
    .main-header .main-nav-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 35px;
      height: var(--logo-height);
      justify-content: flex-end; }
      .main-header .main-nav-container .main-nav .main-nav-list {
        display: flex;
        align-items: baseline;
        width: 100%;
        justify-content: space-between;
        font-family: 'Questrial', cursive;
        color: var(--color-font-menu);
        text-transform: uppercase;
        font-size: 18px; }
        .main-header .main-nav-container .main-nav .main-nav-list li > button {
          background: none;
          border: none;
          height: 50px;
          width: auto;
          cursor: pointer;
          font-family: 'Questrial', cursive;
          color: var(--color-font-menu);
          text-transform: uppercase;
          font-size: 18px; }
        .main-header .main-nav-container .main-nav .main-nav-list li .main-nav-submenu {
          box-sizing: content-box;
          /*me aparece 1px de border que no se que es*/
          display: none;
          position: absolute;
          top: 0px;
          left: 0px;
          padding: 0px;
          border-top: lightblue dotted 1px;
          border-bottom: #1485b2 solid 5px;
          background-color: white;
          width: 100vw;
          height: 0px;
          z-index: 1;
          transition: all 3s;
          /*no anda*/
          object-fit: cover; }
          .main-header .main-nav-container .main-nav .main-nav-list li .main-nav-submenu li a {
            color: var(--color-font-menu);
            display: block;
            padding: 10px 0 10px 25px; }
          .main-header .main-nav-container .main-nav .main-nav-list li .main-nav-submenu li div {
            display: none;
            position: absolute;
            top: 0px;
            height: 250px;
            padding: 0px 0px 0px 300px;
            z-index: 2;
            object-fit: cover;
            clear: right; }
            .main-header .main-nav-container .main-nav .main-nav-list li .main-nav-submenu li div img {
              float: right; }
          .main-header .main-nav-container .main-nav .main-nav-list li .main-nav-submenu li button {
            background: none;
            border: none;
            height: 35px;
            width: auto;
            cursor: pointer;
            font-family: 'Questrial', cursive;
            color: var(--color-font-menu);
            text-transform: uppercase;
            font-size: 18px; }
          .main-header .main-nav-container .main-nav .main-nav-list li .main-nav-submenu li button:hover a {
            color: var(--color-body); }
          .main-header .main-nav-container .main-nav .main-nav-list li .main-nav-submenu li button:hover ~ div {
            display: inline-block; }
          .main-header .main-nav-container .main-nav .main-nav-list li .main-nav-submenu ul {
            display: flex;
            justify-content: center;
            flex-direction: column; }
        .main-header .main-nav-container .main-nav .main-nav-list button:hover > a {
          color: var(--color-body); }
        .main-header .main-nav-container .main-nav .main-nav-list button:focus-within > a {
          color: var(--color-body); }
        .main-header .main-nav-container .main-nav .main-nav-list li:hover .main-nav-submenu {
          display: flex;
          top: 100px;
          height: 250px; }
      .main-header .main-nav-container .main-nav-sub {
        font-family: 'Bebas Neue', cursive;
        color: var(--color-body);
        font-size: 15px;
        text-transform: none; }
        .main-header .main-nav-container .main-nav-sub .main-nav-sub-list {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: flex-end; }
          .main-header .main-nav-container .main-nav-sub .main-nav-sub-list li {
            padding-left: 20px; }
            .main-header .main-nav-container .main-nav-sub .main-nav-sub-list li a:hover {
              color: black; }
            .main-header .main-nav-container .main-nav-sub .main-nav-sub-list li button {
              font-family: 'Bebas Neue', cursive;
              font-size: 12px;
              padding: 3px 12px;
              background-color: var(--color-body);
              color: white;
              text-align: center;
              border: none;
              border-radius: 20px; }
            .main-header .main-nav-container .main-nav-sub .main-nav-sub-list li button:hover {
              background-color: black; }
            .main-header .main-nav-container .main-nav-sub .main-nav-sub-list li a img {
              filter: invert(39%) sepia(24%) saturate(2808%) hue-rotate(163deg) brightness(97%) contrast(85%); }
            .main-header .main-nav-container .main-nav-sub .main-nav-sub-list li a:hover img {
              filter: none; } }

@media (min-width: 1640px) {
  body {
    background-color: tomato; }
  .main-header .main-nav-container {
    padding-left: 300px; }
    .main-header .main-nav-container .main-nav .main-nav-list li button {
      width: 160px; } }

@media (max-width: 1040px) {
  body {
    background-color: black; }
  .main-header .main-nav-container {
    padding-left: 300px; }
    .main-header .main-nav-container .main-nav .main-nav-list li button {
      width: 160px; } }

#hero {
  height: calc(100vh - 75px);
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

/*Como alinear bien mainnav con subnav (antes no tenía button)
    El dropdown no se anima
    Me queda 1 px de padding
    Se refresca raro
    El hover del SUBMENU es rarisimo
    imagen float right
    */
